* {
    margin: 0;
    padding: 0;
}

body {
    padding: 32px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.products img {
    width: 80%;
    margin-bottom: 10px;
}